<% provide(:title, "Create Order") %>

<section class="grid gap-4 sm:grid-cols-2 sm:gap-60 mx-auto my-auto ">
  <div class="w-full bg-sky-100 max-w-2xl rounded-lg border-2 border-sky-300">
    <%= render 'order_form' %>
  </div>
  <div class="w-full bg-sky-100 rounded-lg border-2 border-sky-300">
    <div>
      test
    </div>
  </div>
</section>
